*{

  box-sizing: border-box;
}


.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
 
}

.connection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.preview h1 {
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-family: sans-serif;
}

.preview-section {
  display: flex;
  gap: 15px;
  padding: 10px 20px;
  width: 500px;
  background-color: #f5f5f5;
}

.preview-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.preview-details{
  margin-right: 10px;
}

.preview-details h1 {
  font-size: 1rem;
}
.green{
  color: green;
  font-weight: bold;
}


.product-details a {
  text-decoration: none;
}

.product-details .store{
  color: black;
}
