body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
 
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.navbar-brand a {
  text-decoration: none;
  color: black;
}

.brand-name {
  display: flex;
  align-items: center;
  gap: 2px;
}

.brand-highlight {
  color: #008000;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #008000;
  border-radius: 25px;
  overflow: hidden;
  margin-right: 25px;
}

.search-input {
  border: none;
  outline: none;
  padding: 8px 12px;
  width: 600px;
}

.search-button {
  background: none;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  color: #008000;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.location-button {
  background-color: #008000;
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.product-section {
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 180px;
  padding: 10px;
  background-color: #fff;
}

.product-image {
  width: 100%;
  height: 150px; 
  object-fit: cover; 
  
  border-radius: 5px;
}

/* .new-badge {
  display: inline-block;
  text-align: start;
  background-color: #00c853;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 3px;
  margin-bottom: 8px;
} */
.product-card h3{
  font-size: 14px;
  text-align: center;
  color: rgb(31, 31, 31);

}

@media (max-width: 768px) {
  .navbar-menu {
      display: none;
      flex-direction: column;
      gap: 10px;
      background: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 60px;
      right: 20px;
      padding: 10px;
      border-radius: 5px;
  }

  .hamburger {
      display: block;
  }

  .navbar.active .navbar-menu {
      display: flex;
  }

  .search-bar {
      margin-bottom: 10px;
      width: 100%;
  }

  .navbar-brand, .search-bar {
      width: 100%;
      justify-content: center;
  }

  .product-grid {
      grid-template-columns: 1fr;
  }
}
